{% extends "base.html" %}

{% block container %}
  {{ super() }}
  {% if backlinks %}
<div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc">
 <div class="md-sidebar__scrollwrap" > <div class="md-sidebar__inner">
 <nav class="md-nav md-nav--secondary" aria-label="Backlinks">
 <label class="md-nav__title" for="__toc"> <span class="md-nav__icon md-icon"> </span> Backlinks</label>
 <ul class="md-nav__list" data-md-component="bl">
	{% for backlink in backlinks %}
	 <li class="md-nav__item">
		 <a href="/{{ backlink.url }}" class="md-nav__link">{{ backlink.title }} </a>
	 </li>
	{% endfor %}
 </ul> </nav> </div> </div> </div>

	{% endif %}
{% endblock %}
